@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
*::-webkit-scrollbar {
    display: none !important;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: "poppins", "sans seris";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeSpeed;
    font-weight: normal;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(to bottom right, #02062b, #68299a);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
        scroll-behavior: auto !important;
    }
}

@layer components {
    .overlay {
        @apply fixed inset-0 z-[999];
        background: rgba(0, 0, 0, 0.35);
    }
    .glass {
        background: rgba(0, 0, 0, 0.5);
    }
    @supports (backdrop-filter: blur(5px)) {
        .overlay,
        .page-content,
        .glass {
            backdrop-filter: blur(5px);
        }
    }

    .bar {
        @apply h-[3px] bg-cerulean rounded-[10px];
        transition: 300ms ease-in-out;
    }

    .btn-no-fill {
        @apply border font-[500] border-cerulean text-cerulean gap-x-1 sm:gap-x-2 px-4 py-2 rounded-[10px];
        transition: all 0.35s ease-in-out;
        font-size: clamp(0.85rem, 2.5vw, 1rem);
    }

    .btn-no-fill:hover {
        @apply bg-cerulean text-white;
    }

    .btn-no-fill.disabled,
    .btn-no-fill.disabled:hover {
        @apply border font-[500] border-nickel text-nickel gap-x-2 px-4 py-2 rounded-[10px];
        background: transparent;
    }

    .input-field {
        @apply relative w-full
                             bg-richBlack pl-12 rounded-xl h-10 border-nickel border outline-none accent-richBlack;
    }
    input[type="number"],
    input[type="number"]::placeholder {
        text-align: right;
    }
    input[type="number"] {
        padding-inline: 1rem;
    }
    .page-content {
        background: rgba(0, 0, 0, 0.5);
        height: min(90vh, 30rem);
        @apply rounded-2xl p-8;
    }

    .page-content h1 {
        @apply text-cerulean font-bold text-3xl my-2;
    }

    .nav-link:hover span,
    .nav-link.active span {
        transition: 300ms ease-in-out;
        width: 100%;
    }

    .purple-gradient {
        background: linear-gradient(99.04deg, #dc398c 5.39%, #00a3de 218.1%);
    }
    .gradient-text {
        background: linear-gradient(
            to top left,
            hsl(329, 70%, 54%, 0.5) 25%,
            hsl(196, 100%, 44%),
            hsl(273, 58%, 38%, 0.5)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .zeus-text {
        font-size: clamp(1.5rem, 7.5vw, 4rem);
        line-height: 1;
    }

    .sub-heading {
        font-size: clamp(1rem, 2.5vw, 2rem);
    }

    .flex-start-start {
        @apply flex items-start justify-start;
    }
    .flex-start-center {
        @apply flex items-start justify-center;
    }
    .flex-start-between {
        @apply flex items-start justify-between;
    }
    .flex-center-start {
        @apply flex items-center justify-start;
    }
    .flex-center-center {
        @apply flex items-center justify-center;
    }
    .flex-center-between {
        @apply flex items-center justify-between;
    }
    .flex-center-end {
        @apply flex items-center justify-end;
    }
    .flex-center-evenly {
        @apply flex items-center justify-evenly;
    }

    .dashboard-card {
        @apply flex-start-start bg-[rgba(255,255,255,0.05)] rounded-2xl flex-col h-[10rem] p-4 w-full gap-x-4;
    }

    .dashboard-card p {
        @apply mb-2;
    }

    .dashboard-card-header {
        @apply font-[500] text-center  w-full text-cerulean mb-2;
    }

    .background {
        background: linear-gradient(to bottom right, #02062b, #68299a);
    }

    .btn-filled {
        @apply rounded-[10px] text-white;
        background: linear-gradient(99.04deg, #dc398c 5.39%, #02062b 218.1%);
        transition: all 0.35s ease-in-out;
    }

    .btn-filled:hover {
        background: linear-gradient(99.04deg, #902784 5.39%, #2c338a 218.1%);
    }

    @media only screen and (max-width: 639px) {
        /* .nav-links {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background: #02062b;
        } */
    }
    @media only screen and (max-width: 300px) {
        .nav-logo {
            width: 5rem;
        }
    }
}

.check {
    border: 2px solid red;
}
